@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171718;
  color: #faf7f2;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in.opacity-100 {
  opacity: 1;
}